
.tutor-icon-bookmark-star:before { content: '\e800'; } /* '' */
.tutor-icon-icon9:before { content: '\e801'; } /* '' */
.tutor-icon-user:before { content: '\e802'; } /* '' */
.tutor-icon-calendar:before { content: '\e803'; } /* '' */
.tutor-icon-clock:before { content: '\e804'; } /* '' */
.tutor-icon-ok:before { content: '\e805'; } /* '' */
.tutor-icon-down-open:before { content: '\e806'; } /* '' */
.tutor-icon-up-open:before { content: '\e807'; } /* '' */